In [6]:
import pandas as pd
import zipfile

In [2]:
year = 2020
panda_label_num = 0

### Match panda labels to their record IDs

The panda labels use columns `id_l` and `id_r` where `id_l` corresponds
to the `id` column in the FERC data and `id_r` corresponds to the
index in the EIA input data.

In [5]:
panda_labels = pd.read_csv(f"panda_matches/panda_label_{panda_label_num}.csv")

In [7]:
input_zip = zipfile.ZipFile(f"panda_inputs/{year}.zip")
ferc_input = pd.read_csv(input_zip.open("left.csv"))
eia_input = pd.read_csv(input_zip.open("right.csv"))

In [15]:
panda_labels = panda_labels.join(ferc_input.set_index("id")["record_id_ferc1"], on="id_l")
panda_labels = panda_labels.join(eia_input["record_id_eia"], on="id_r")

In [16]:
panda_labels

,id_l,id_r,panda_label,panda_soft_label,record_id_ferc1,record_id_eia
0,27884,23861,-1,9.165326e-15,f1_steam_2020_12_144_1_4,235_1_2020_plant_gen_total_14328
1,27884,23862,-1,9.165326e-15,f1_steam_2020_12_144_1_4,235_2_2020_plant_gen_total_14328
2,27771,32223,-1,9.165326e-15,f1_steam_2020_12_164_1_1,7538_1_2020_plant_gen_total_3046
3,27771,32224,-1,9.165326e-15,f1_steam_2020_12_164_1_1,7538_2_2020_plant_gen_total_3046
4,27771,32225,-1,9.165326e-15,f1_steam_2020_12_164_1_1,7538_3_2020_plant_gen_total_3046
...,...,...,...,...,...,...
20146,28273,17335,1,9.983238e-01,f1_steam_2020_12_44_0_5,6035_1_2020_plant_unit_total_5109
20147,27571,20806,1,1.000000e+00,f1_steam_2020_12_176_1_5,59784_ct_2020_plant_prime_mover_total_24211
20148,27727,2167,-1,2.575863e-14,f1_steam_2020_12_57_1_5,708_2020_plant_total_7140_retired
20149,27718,2161,1,9.999991e-01,f1_steam_2020_12_57_0_1,703_2020_plant_total_7140
20150,28252,9786,1,9.768642e-01,f1_steam_2020_12_17_3_4,58215_2020_plant_total_3046

### Find the percentage of labeled training data that Panda finds

In [4]:
training_labels = pd.read_csv("train_ferc1_eia.csv")

In [23]:
# get just the 2020 records - is there a helper function to do this?
# concatenate the training labels and panda labels (that are matches)

In [17]:
training_labels

,record_id_eia,record_id_ferc1,signature_1,signature_2,notes
0,2707_hy_2018_plant_prime_mover_total_3046,f1_hydro_2018_12_17_0_1,OIU,NaN,NaN
1,2707_hy_2019_plant_prime_mover_total_3046,f1_hydro_2019_12_17_0_1,OIU,NaN,NaN
2,3266_2019_plant_total_5416_retired,f1_hydro_2019_12_45_2_1,OIU,NaN,NaN
3,6113_2018_plant_owned_15470,f1_steam_2018_12_144_0_3,OIU,NaN,NaN
4,1001_gt_2018_plant_prime_mover_total_15470,f1_steam_2018_12_144_0_4,OIU,NaN,NaN
...,...,...,...,...,...
2746,62591_2020_plant_total_14354,f1_gnrt_plant_2020_12_134_0_33,AS,NaN,NaN
2747,63053_2020_plant_total_12341,f1_gnrt_plant_2020_12_210_2_13,AS,NaN,NaN
2748,63915_2020_plant_total_14354,f1_gnrt_plant_2020_12_134_0_31,AS,NaN,NaN
2749,63641_2020_plant_total_12341,f1_gnrt_plant_2020_12_210_2_18,AS,NaN,NaN
2750,63639_2020_plant_total_12341,f1_gnrt_plant_2020_12_210_2_28,AS,NaN,NaN

In [22]:
panda_labels[panda_labels.duplicated(subset=["record_id_eia", "record_id_ferc1"], keep=False)]

Empty DataFrame
Columns: [id_l, id_r, panda_label, panda_soft_label, record_id_ferc1, record_id_eia]
Index: []